body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #141A22;
  font-family: 'Montserrat', sans-serif;
}

/* intestazione */
header {
  background-color: rgba(0,0,0,0.5);
  height: 90px;
  line-height: 90px;
  vertical-align: middle;
  text-align: right;
  width: calc(100% - 170px);
  position: fixed;
  top: 0;
  right: 0;
  margin-left: auto;
}

.btn_upgrade {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 40px;
  border-radius: 40px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
}

@media screen and (max-width: 639px) {

  header {
    width: calc(100% - 50px);
  }

}
/* /intestazione */

/* corpo principale */
main {
  display: flex;
  height: 100vh;
}
/* /corpo principale */

/* pagina principale */
.main_page {
  overflow: auto;
  width: 100%;
}

.container_tab {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.nav_tab ul li{
  display: inline-block;
  color: #666666;
  font-size: 14px;
  font-weight: 500;
}
.nav_tab ul li::after {
  border-bottom: 3px solid transparent;
}

.nav_tab ul li:not(:first-child) {
  margin-left: 20px;
}

.nav_tab ul li:hover {
  color: #fff;
  border-color: #9ee23f;
}
/* /pagina principale */

/* barra laterale */
aside {
  width: 200px;
  height: calc(100% - 100px);
  background-color: #000000;
}

.logo_img .logo_big {
  width: 60%;
  margin-top: 20px;
  margin-left: 20px;
  display: block;
}

.logo_img .logo_small {
  display: none;
}

.nav_container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  overflow: hidden;
}

.nav_container a {
  text-decoration: none;
  color: #666666;
}

.main_menu ul {
  padding: 1px;
}

.main_menu ul li {
  list-style: none;
  line-height: 25px;
  vertical-align: middle;
  font-size: 15px;
  padding-left: 20px;
  color: #666666;
  border-left: 3px solid transparent;
  margin-top: 10px;
}

.main_menu img {
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  opacity: 0.8;
}

#selected {
  border-color: #9ee23f;
  fill: #fff;
  color: #fff;
  opacity: 1;
}

.playlist_menu {
  margin-top: 20px;
  overflow: hidden;
}

.playlist_menu ul {
  padding: 1px;
  margin-top: auto;
  height: calc(100% - 19px);
  overflow: auto;
}

.playlist_menu ul li {
  list-style: none;
  padding-left: 20px;
  margin-top: 10px;
  line-height: 25px;
  vertical-align: middle;
  color: #666666;
  font-size: 14px;
}

#playlist_title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  padding-left: 20px;
}

a.btn_plus {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #666666;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  color: #000;
  margin-right: 5px;
}

a:hover {
  color: #fff;
}

.bottom_menu {
  margin-left: 20px;
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 5px;
}

.bottom_menu span {
  color: #666666;
  line height: 20px;
  vertical-align: middle;
}

.bottom_menu img {
  fill: #666666;
  height: 20px;
  margin-right: 5px;
  line height: 20px;
  vertical-align: middle;
}

.profile_img {
  background-color: #666666;
  height: 17px;
  width: 18px;
  border-radius: 50%;
  margin-left: 3px;
}

.bottom_menu hr {
  background-color: #666666;
  height: 1px;
  border: 0;
  width: 90%;
  margin-left: -2px;
}

@media screen and (max-width: 639px) {

  aside {
    width: 50px;
  }

  .logo_img .logo_big {
    display: none;
  }

  .logo_img .logo_small {
    display: block;
    margin: 20px auto;
    width: 70%;
  }

  .main_menu a {
    display: none;
  }

  .main_menu ul li{
    padding-left: 10px;
  }

  .playlist_menu {
    display: none;
  }

  .bottom_menu span {
    display: none;
  }

  .bottom_menu {
    margin-bottom: 22px;
    margin-right: auto;
  }

}
/* /barra laterale */

/* player */
.player {
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* sezione in ascolto */
.now_playing {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.song {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 16px 0 8px;
}

.now_playing img {
  height: 50px;
}

.song_name {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.song_author {
  color: #666666;
  font-size: 12px;
  font-weight: 500;
}

.favourite {
  color: #666666;
  font-size: 20px;
}

.fa-folder {
  margin-left: 5px;
}

.line_clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* /sezione in ascolto */

/* sezione controlli */
.play_controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.controls {
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  margin-bottom: 10px;
}

.controls i {
  font-size: 20px;
  opacity: 0.8;
}

.controls i:not(:first-child) {
  margin-left: 30px;
}

.controls i:hover {
  opacity: 1;
}

.play {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}

.trackline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trackline .empty_track {
  color: #666666;
  background-color: #666666;
  height: 3px;
  margin-left: 10px;
  margin-right: 10px;
  width: 500px;
  border-radius: 20px;
}

.full_track {
  color: #fff;
  background-color: #fff;
  height: 3px;
  width: 30%;
  border-radius: 20px;
  position: relative;
}

.full_track i {
  position: absolute;
  font-size: 10px;
  right: -4px;
  top: -4px;
  display: none;
}

.empty_track:hover .full_track {
  background-color: #1CB955;
}

.empty_track:hover .full_track i {
  display: inline-block;
}

.trackline span {
  color: #fff;
  font-size: 12px;
}
/* /sezione controlli */

/* sezione controlli audio */
.audio_controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audio_controls i {
  color: #fff;
  opacity: 0.8;
}

.first_col, .second_col {
  display: flex;
  align-items: center;
}

.second_col {
  margin-left: 10px;
}
.audio_controls i:not(:first-child) {
  margin-left: 10px;
}

.audio_controls i:hover {
  opacity: 1;
}

.audio_controls .empty_volume {
  color: #666666;
  background-color: #666666;
  height: 3px;
  margin-left: 10px;
  margin-right: 10px;
  width: 90px;
  border-radius: 20px;
}

.full_volume {
  color: #fff;
  background-color: #fff;
  height: 3px;
  width: 30%;
  border-radius: 20px;
  position: relative;
}

.full_volume i {
  position: absolute;
  font-size: 10px;
  right: -4px;
  top: -4px;
  display: none;
}

.empty_volume:hover .full_volume {
  background-color: #1CB955;
}

.empty_volume:hover .full_volume i {
  display: inline-block;
}
/* /sezione controlli audio */
@media screen and (max-width: 992px) {

  .trackline .empty_track {
    width: 200px;
  }

  .now_playing {
    margin-right: 20px;
  }

  .audio_controls {
    margin-left: 20px;
  }

}

@media screen and (max-width: 639px) {

  .audio_controls {
    margin-right: 10px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .fa-list, .fa-chromecast {
    align-self: flex-end;
  }

  .play_controls {
    justify-content: space-between;
  }

  .controls i:not(:first-child) {
    margin-left: 10px;
  }

  .trackline .empty_track {
    width: 100px;
  }

  .second_col {
    order: -1;
  }

  .first_col {
    margin-top: 10px;
  }

}
/* /player */
