body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #141A22;
  font-family: 'Montserrat', sans-serif;
}

/* intestazione */
header {
  background-color: rgba(0,0,0,0.5);
  height: 90px;
  line-height: 90px;
  vertical-align: middle;
  text-align: right;
  width: calc(100% - 200px);
  position: fixed;
  top: 0;
  right: 0;
}

.btn_upgrade {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 40px;
  border-radius: 40px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
}
/* /intestazione */

/* corpo principale */
main {
  display: flex;
  height: 100vh;
}
/* /corpo principale */

/* pagina principale */
.main_page {
  overflow: auto;
}
/* /pagina principale */

/* barra laterale */
aside {
width: 200px;
height: calc(100% - 100px);
background-color: #000000;
}

.logo_img img {
  width: 60%;
  margin-top: -37px;
  margin-left: 20px;
}
/* /barra laterale */

/* player */
.player {
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
/* /player */
